<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<i class="fas fa-camera"></i>
<i class="fab fa-apple"></i>
<i class="fas fa-frog"></i>
<i class="fab fa-500px"></i>
<i class="fab fa-expeditedssl"></i>
<i class="far fa-bell"></i>
<i class="fas fa-calendar-minus"></i>
<i class="far fa-snowflake"></i>